<section class="contato">
    <ul>
        <li> <strong>{{ contato.nome }} </strong></li>
        <li>{{ contato.telefone }} </li>
        <li>
            <button class="icon-button">
                <a [routerLink]="['/perfil-contato', contato.id]">
                    <img src="assets/pencil-square.png" alt="Editar">
                </a>
            </button>
        </li>
        <li>
            <button class="icon-button" (click)="excluirContato()">
                <img src="assets/trash.png" alt="Excluir">
            </button>
        </li>
    </ul>
</section>