<app-container>
  <app-cabecalho></app-cabecalho>

  <input 
    type="search"
    placeholder="Digite para buscar"
    [(ngModel)]="filtroPorTexto"
  />

  <section class="adicionar-contato">
    <button routerLink="/formulario">
      <img src="assets/plus.png">
      <span>Adicionar contato</span>
    </button>
  </section>

  <div *ngFor="let letra of alfabeto">
    <app-separador>
      {{ letra }}
    </app-separador>

    <div *ngFor="let contato of filtrarContatosPorLetra(letra)">
      <app-contato 
        [contato]="contato">
      </app-contato>
    </div>
  </div>
</app-container>
